body {
  font-family: Arial, sans-serif;
  background: url(backgound.jpeg);
  background-size: 110% auto;
  background-repeat: no-repeat;
  color: #ddd;
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  max-width: 800px;
  margin: 40px auto;
  background: #28293d;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 8px;
  font-size: 20px;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 28px;
  margin-bottom: 25px;
}

label {
  display: block;
  font-weight: bold;
  color: #ccc;
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"],
select {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid #444;
  border-radius: 4px;
  background: #1e1e2e;
  color: #ccc;
  font-size: 18px;
}

.start-btn,
input[type="submit"] {
  display: inline-block;
  background: #e94560;
  color: #fff;
  border: none;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 6px;
  text-decoration: none;
  font-size: 18px;
  transition: transform 0.3s ease, background 0.3s ease;
}

.start-btn:hover,
input[type="submit"]:hover {
  background: #d23f5b;
  transform: scale(1.08);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
}

th,
td {
  border: 1px solid #444;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #444;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #2b2c3f;
}

tr:nth-child(odd) {
  background-color: #28293d;
}

td {
  color: #ddd;
}

.feedback-correct {
  color: #00ff88;
  font-weight: bold;
}

.feedback-wrong {
  color: #ff4e4e;
  font-weight: bold;
}